{% extends "navbar.html" %}

{% load static %}
{% block title %}
<title>A propos</title>
{% endblock %}
{% block content %}


  <style>

  </style>

<div>
    <center><h1 class="text-dark"> <b>À propos </b></h1>
<hr>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-12 text-center">
            <img src="..\static\TESLAH.png" alt="LOGO"  width="170px" height="140px"  align="center"/>

            <p>
                <h4 align="left">
                                « Une nouvelle aventure pour une nouvelle vie mais aucun proche pour donner un coup de main pour les travaux à domicile ». Il y a quelques années, c’est de ce constat fait à Nouakchott par un groupe d'élèves ingénieurs de l'<b>Ecole Supérieure Polytechnique de Nouakchott</b> (ESP) . Quelques mois plus tard, en 2022, le site www.Teslah.com voit le jour à Nouakchott à l’initiative de de cette équipe d'ingénieurs.<br><br>

            Aujourd’hui, TESLAH est une start-up basée sur le développement informatique, qui a pour mission de mettre en relation des professionnels passionné(e)s de bricolage et des particuliers ayant besoin d’un coup de main pour tous les petits travaux à leurs domicile : Electricité,plomberie,climatisation,Mecanique,Menuiserie,peinture, jardinage, etc…

            Notre force ? Une communauté engagée répartie sur l’ensemble du territoire, des professionnels compétents et réactifs.

            Si vous souhaitez nous connaître davantage, nous vous invitons à découvrir ci-dessous notre histoire, nos actualités et nos ambitions.

                <h3 align="left">Notre équipe:</h3>

                </h4><br>
        </p>
                <div class="col-md-3">
                    <div class="card user-card" style="position:relative;box-shadow: 0 0.10rem 1rem 0;margin-bottom:25px">
                        <br>
                        <div class="card-block shadow">
                            <h5 align="center"><b>Abdoulaye Dia</b></h5>
                            <div class="user-image" align="center">
                                <img src="..\static\Dia.JPEG" style="width:70%"
                                     class="img-radius" alt="User-Profile-Image">
                            </div>
                            <br>
                            <p class="text-muted" align="center"> </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card user-card" style="position:relative;box-shadow: 0 0.10rem 1rem 0;margin-bottom:25px">
                        <br>
                        <div class="card-block shadow">
                            <h5 align="center"><b>Mohamed Mahandh</b></h5>
                            <div class="user-image" align="center">
                                <img src="..\static\Maha.JPG" style="width:78%"
                                     class="img-radius" alt="User-Profile-Image">
                            </div>
                            <br>
                            <p class="text-muted" align="center"></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card user-card" style="position:relative;box-shadow: 0 0.10rem 1rem 0;margin-bottom:25px">
                        <br>
                        <div class="card-block shadow">
                            <h5 align="center"><b>Bamme</b></h5>
                            <div class="user-image" align="center">
                                <img src="..\static\Bam.JPG" style="width:65%"
                                     class="img-radius" alt="User-Profile-Image">
                            </div>
                            <br>
                            <p class="text-muted" align="center"></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card user-card" style="position:relative;box-shadow: 0 0.10rem 1rem 0;margin-bottom:25px">
                        <br>
                        <div class="card-block shadow">
                            <h5 align="center"><b>Idoumou</b></h5>
                            <div class="user-image" align="center">
                                <img src="..\static\idoumou.JPG" style="width:85%"
                                     class="img-radius" alt="User-Profile-Image">
                            </div>
                            <br>
                            <p class="text-muted" align="center"></p>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

{% endblock %}