{% extends "navbar.html" %}
{% block title %}<title>Inscription</title>{% endblock %}
{% block content %}
<br><br>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="col-sm-5 sidenav" >
	<br><br><br><br>
	<img src="..\static\acc2.png" alt="LOGO" style=""/>
	<h2>INSCRIVEZ-VOUZ</h2>
</div>

<div class="container" style="position:relative">

	<div class="row justify-content-center">
		<div class="col-md-7">
			<div class="card" style="">
				<header class="card-header" align="center" style="">
				</header>

				<article class="card-body" style="">
					<form enctype="multipart/form-data" method="POST">
						{% csrf_token %}
						<div class="form-row">
							<div class="col form-group">
								<label>Nom complet* </label>
								{{ prestataire_Form.nom}}
							</div> <!-- form-group end.// -->
							<div class="col form-group">
								<label>Numéro de téléphone*</label>
								{{ user_prestataire_form.username}}
							</div> <!-- form-group end.// -->
						</div> <!-- form-row end.// -->
						<div class="form-group">
							<label>NNI*</label>
							{{ prestataire_Form.NNI}}
						</div> <!-- form-group end.// -->


						<div class="form-row">
							<div class="form-group col-md-6" style="position:relative;left:-15px">
								<label>Spécialité*</label>
								{{ prestataire_Form.Specialite}}
							</div> <!-- form-group end.// -->

							<div class="form-group col-md-6" style="position:relative;right:-15px">
								<label>Années d'expériences*</label>
								{{ prestataire_Form.annee_experience}}
							</div> <!-- form-group end.// -->

						</div> <!-- form-row.// -->

						<div class="form-row">

							<div class="form-group col-md-6" style="position:relative;left:-15px">
								<label>Date de naissance*</label>
								{{ prestataire_Form.date_naissance}}
							</div> <!-- form-group end.// -->

							<div class="form-group col-md-6" style="position:relative;right:-15px">
								<label>Adresse*</label>
								{{ prestataire_Form.adresse}}
							</div> <!-- form-group end.// -->

						</div> <!-- form-row.// -->
						<div class="form-row">
							<div class="form-group col-md-6" style="position:relative;left:-15px">
								<label>Genre*</label>
								{{ prestataire_Form.gender}}
							</div>
							<div class="form-group col-md-6" style="position:relative;right:-15px">
								<label>CV*</label>
								{{ prestataire_Form.cv}}
							</div>

						</div> <!-- form-group end.// -->

						<div class="form-row">
							<div class="form-group col-md-6"style="position:relative;left:-15px">
								<label>Mot de passe*</label>
								{{ user_prestataire_form.password}}
							</div>
						 <!-- form-group end.// -->

							<div class="form-group col-md-6" style="position:relative;right:-15px">
								<label>Confirmation du mot de passe*</label>
								{{ user_prestataire_form.confirm_password}}
							</div> <!-- form-group end.// -->
						</div>
						<div class="form-group" style="width:100%">
							<button type="submit" class="btn btn-primary btn-block"> S'inscrire</button>
						</div> <!-- form-group// -->
					</form>
				</article> <!-- card-body end .// -->
				<div class="border-top card-body text-center"> êtes vous dejà inscrit? <a href="{% url 'loginprestataire' %}">Je me connecte</a></div>
			</div> <!-- card.// -->
		</div> <!-- col.//-->

	</div> <!-- row.//-->


</div>
<br>
<br>

{% endblock %}